*{
    box-sizing: border-box;
    font-family: sans-serif;
    /*color: #eef4ed;*/
}
body{
    margin: 0;
}

.container{
    /*height: 100vh;*/
    min-height: 100vh;
    /*background-color: darkred;*/
    background: #3f5efb;
    background: linear-gradient(180deg, #3f5efb 0%, #e50000 100%);
}

header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 1px;
}

header > h1{
    font-family: Impact, sans-serif;
    /*font-size: 1rem;*/
}

.navbar{
    background-color: hsl(0, 0%, 15%);
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 30%);
}
.navbar li{
    float: left;
}

main{}

aside{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    width: 20%;
    float: left;
    padding: 10px;
    position: sticky;
    top: 50px;
}

.contents{
    min-height: 90vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    flex-wrap: wrap;
    align-content: center;
    background-color: #f2e9e4;

}

article{
    width: 100%;
    padding: 15px;
    background-color: #f2e9e4;
    border: 1px solid black;
}

.wpis{
    overflow: hidden;
    width: 100%;
    max-height: 333px;
    padding: 15px;
    background-color: #f2e9e4;
    border: 1px solid black;
}

article > h2{
    text-align: center;
    padding: 2px;
}

.wpis:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 15%);
    text-align: right;
    color: burlywood;
    padding: 1px 10px;
}

.pag{
    text-align: center;
    padding: 5px;
    background-color: #f2e9e4;


}

.pag a{
    color: white;
    text-decoration: none;
    padding: 11px;
    display: inline-block;
    background-color: hsl(0, 0%, 15%);
    border-radius: 5px;
    margin: 0 5px;
}

.pag a:hover{
    background-color: hsl(0, 0%, 30%);
}


.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}

img{
    width: 100%;
    height: auto;
}

.button-container {
    display: inline-block;
}

.button-container a {
    margin-right: 10px;  /* Dodaj odstęp między przyciskami */
}

.contents #title{
    margin: 20px 11px;
}



/*gra*/

.game {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    height: 110vh;

    margin: 0;
    flex-direction: column;
    padding: 22px;
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100vh;
    width: 60%;

}

#game-controls {
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    gap: 5px;
    /*noinspection CssUnresolvedCustomProperty*/
    grid-template-columns: repeat(var(--board-size, 4), 80px);
    /*noinspection CssUnresolvedCustomProperty*/
    grid-template-rows: repeat(var(--board-size, 4), 80px);
}

.tile {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



.leaderboard-section {
    margin-bottom: 20px;
}

.leaderboard-table {
    border-collapse: collapse;
    /*width: 80%;*/
}

.leaderboard-table, .leaderboard-table th, .leaderboard-table td {
    border: 2px solid #ddd;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 10px;
    text-align: center;
}

.search-form {
    margin-bottom: 20px;
}


/*button*/
.bn632-hover {
    width: 140px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 14px;
    height: 44px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn23 {
    background-image: linear-gradient(
            to right,
            #009245,
            #fcee21,
            #00a8c5,
            #d9e021
    );
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.bn632-hover.bn27 {
    background-image: linear-gradient(
            to right,
            #ed6ea0,
            #ec8c69,
            #f7186a,
            #fbb03b
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.bn632-hover.bn22 {
    background-image: linear-gradient(
            to right,
            #0ba360,
            #3cba92,
            #30dd8a,
            #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.bn632-hover.bn25 {
    background-image: linear-gradient(
            to right,
            #29323c,
            #485563,
            #2b5876,
            #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

@media screen and (max-width:800px){
    /*aside, section, article{*/
    /*    width: 100%;*/
    /*}   */
    .contents{
        width: 100%;
    }
    .game {
        width: 100%;
    }
    .navbar{
        /*overflow: auto;*/
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }
    aside{
        display: none;
    }
}
