*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
}

.container{
    /*height: 100vh;*/
    min-height: 100vh;
    /*background-color: darkred;*/
    background: #3f5efb;
    background: linear-gradient(180deg, #3f5efb 0%, #e50000 100%);
}

header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 1px;
}

header > h1{
    font-family: Impact, sans-serif;
    /*font-size: 1rem;*/
}

.navbar{
    background-color: hsl(0, 0%, 15%);
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 30%);
}
.navbar li{
    float: left;
}

main{}

aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    float: left;
    padding: 10px;
    position: sticky;
    top: 50px;
}

.contents{
    min-height: 90vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    flex-wrap: wrap;
    align-content: center;

}

article{
    width: 100%;
    padding: 15px;
    background-color: antiquewhite;
    border: 1px solid black;
}

article > h2{
    text-align: center;
    padding: 2px;
}

.wpis:hover {
    /*box-shadow: 0 0 5px 5px rgba(0,0,0,0.75);*/
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 15%);
    text-align: right;
    color: burlywood;
    padding: 1px 10px;
}

.pag{
    text-align: center;
    padding: 5px;

}

.pag a{
    color: white;
    text-decoration: none;
    padding: 11px;
    display: inline-block;
    background-color: hsl(0, 0%, 15%);
    border-radius: 5px;
    margin: 0 5px;
}

.pag a:hover{
    background-color: hsl(0, 0%, 30%);
}



@media screen and (max-width:600px){
    /*aside, section, article{*/
    /*    width: 100%;*/
    /*}   */
    .content{
        width: 100%;
    }
    aside{
        display: none;
    }
}